@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.awesome-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: 'Raleway', sans-serif;
}

.awesome-container .awesome-subcontainer {
   width: 1170px;
  
}
.awesome-container img{
   display: block;
   margin: auto;
}

.awesome-container .awesome-container__separator {
   width: 170px;
   border: 0.5px solid #EC7979;
   margin: 0 auto;

}

.awesome-container .awesome-subcontainer h2 {
   text-transform: uppercase;
   height: 150px;
   line-height: 150px;
   font-weight: 400;
   font-size: 36px;
   text-align: center;

}

.awesome-container .awesome-container__articles article{
   display: inline-block;
   width: 369px;
   height: 383px;
   margin-top: 71px;
   margin: auto;

}

.awesome-container .awesome-container__text {

   margin-top: 40px;
   line-height: 21px;
   font-weight: 400;
   font-size: 18px;
   text-align: center;
   color: #86878B;
}

.awesome-container .awesome-container__articles h4 {
   width: 369px;
   height: 100px;
   line-height: 100px;
   font-weight: 700;
   font-size: 24px;
   color: #000000;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
}

.awesome-container .awesome-container__articles h5 {
   margin-top: 8px;
   width: 370px;
   height: 105px;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: #000000;
   text-align: center;
}

.awesome-container article.awesome-container__articles.center {
   margin-right: 25px;
   margin-left: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
   .awesome-container .awesome-subcontainer {
       width: 992px;
      
   }

   .awesome-container .awesome-subcontainer h2 {
       height: 120px;
       font-size: 24px;
      
   }

   .awesome-container .awesome-container__text {
       font-size: 14px;
       margin-bottom: 32px;
      
   }

   .awesome-container img {
       width: 147px;
       
   }

   .awesome-container .awesome-container__articles article {
       width: 316px;
      height: 318px; 
     
      
   }

   .awesome-container article.awesome-container__articles.center {
       margin: 0 15px;
   }
   

   .awesome-container .awesome-container__articles h4 {
       height: 82px;
       font-size: 18px;
     width: 316px;
     height: 82px;
   }

   .awesome-container .awesome-container__articles h5 {
       font-size: 14px;
       width: 317px;
       height: 80px;
   }
}

@media screen and (max-width: 480px) {
   .awesome-container {
       display: block;
       height: 1427px;
      
   }
   .awesome-container .awesome-subcontainer {
       width: 288px;
       margin: 0 auto;
      
   }

   .awesome-container .awesome-container__articles article {
       width: 100%;
      
   }

   .awesome-container .awesome-subcontainer h2  {
       height: 120px;
       font-size: 18px;
   }

   .awesome-container .awesome-container__text {
       font-size: 13px;
   }

   .awesome-container img {
       width: 147px;
   }

   .awesome-container .awesome-container__articles h5 {
       font-size: 14px;
       width: 288px;
       height: 80px;
   }

   .awesome-container .awesome-container__articles h4 {
       font-size: 18px;
       width: 288px;
       height: 82px;
   }

   .awesome-container article.awesome-container__articles.center {
       margin: 0;
   }


}
