@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway&display=swap');

.contact-us-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-subcontainer {
    width: 1170px;
    box-sizing: content-box;
}

.contact-us-subcontainer h2 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 150px;
    font-family: 'Raleway',sans-serif;
    height: 150px;
}

.contact-us-subcontainer .contact-us-container__separator {
    border: 0.5px solid #EC7979;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.contact-us-subcontainer h5 {
    font-family: 'Raleway',sans-serif;
    line-height: 21px;
    color: #86878B;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 89px;
}

.contact-us-container__form .contact-us-container__field {
    font-family: 'Open Sans',sans-serif;
    width: 571px;
    height: 38px;
    border-bottom: 3px solid #BDBDBD;
    color: #86878B;
    font-size: 14px;
    font-weight: 400px;
    margin-bottom: 50px;
}
.contact-us-container__inputs {
    display: flex;
    justify-content: space-between;
   

}
.contact-us-container__left-side , .contact-us-container__right-side {
   
    width: 569px;
 
}
.contact-us-container button {
    width: 370px;
    height: 58px;
    color: #fff;
    background: #EC7979;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
text-transform: capitalize;
    border: none;

}

.contact-us-container__right-side .contact-us-container__field:not(:last-of-type){
    border-color: #fff;
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .contact-us-subcontainer{
        width: 992px;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .contact-us-subcontainer h2 {
        width: 992px;
        height: 120px;
        font-size: 24px;
        line-height: 120px;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .contact-us-subcontainer .contact-us-container__separator {
        width: 144px;
        margin-bottom: 32px;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .contact-us-subcontainer h5 {
        width: 992px;
        margin-bottom: 32px;
        margin-bottom: 72px;
        font-size: 14px;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .contact-us-container__form .contact-us-container__field {
        width: 486px;
        
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .contact-us-container button {
        width: 318px;
        height: 58px;

        
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .contact-us-container__left-side , .contact-us-container__right-side {
        width: 486px;
    
        
    }
}
@media screen and (max-width: 480px) {
    .contact-us-containerr {
        height: 847px;
       display: block;
    }
    .contact-us-subcontainer
    {
        width: 288px;
        margin: 0 auto;
    }
    .contact-us-subcontainer h2
    {
        height: 120px;
        line-height: 120px;
        font-size: 24px; 
        margin-bottom: 24px;
    }
    .contact-us-subcontainer h5
    {
        height: 32px;
        font-size: 14px;
        margin-bottom: 64px;
    }
   .contact-us-container .contact-us-container__separator
    {
        width: 134px;
    }
    .contact-us-container__form .contact-us-container__field
    {
        width: 288px;

    }
   
    .contact-us-container__inputs
    {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-us-container button {
        width: 288px;
        height: 50px;

        
    }

}