@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
header {
    /* display: flex; */
    height: 75px;
    background: #000;
    color: #fff;
}

header img[alt='logo'] {
    margin-left: 115.28px;
}

header nav {
    display: flex;
    align-items: center;
    height: 75px;
    margin-right: 170px;
}

header div {
    display: flex;
    justify-content: space-between;
}
header a{
    height: 75px; 
    width: 113.8px;
    text-align: center;
    line-height: 75px;
    color:#fff;
    text-decoration:none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;

}
