@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.price-container .price-subcontainer {
  width: 1170px;
  box-sizing: content-box;
}

.price-container {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

.price-container .price-container__price-sections {
  height: 530px;
  display: flex;
  justify-content: space-between;
}

.price-container .price-container__info {
  width: 370px;
  height: 510px;
  border: 1px solid white;
  align-self: flex-end;
}

.price-container .price-container__info.second {
  align-self: flex-start;
}

.price-container .price-container__info h4 {
  background: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border: 2px solid #F5F5F5;
  font-size: 24px;
}

.price-container .price-container__info h3 {
  font-weight: 700;
  height: 100px;
  line-height: 100px;
  background: #333;
  color: #fff;
  text-align: center;
  border: 2px solid #F5F5F5;
  font-size: 24px;
  font-size: 36px;
}

.price-container .price-container__info h5:not(.subtitle) {
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

.price-container .price-container__info .subtitle {
  height: 50px;
  line-height: 50px;
  background: #333;
  text-align: center;
  border: 2px solid #F5F5F5;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.price-container .price-subcontainer h2 {

  text-transform: uppercase;
  height: 150px;
  line-height: 150px;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #000000;

}

.price-container .price-container__separator {
  width: 170px;
  border: 0.5px solid #EC7979;
  margin: 0 auto;

}

.price-container .price-container__text {
  margin: 40px 0 59px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #86878B;
}