@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.social-media {
    width: 100%;
    height: 140px;
    background-color: #F8EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-media h4 {
    line-height: 60px;
    width: 470px;
    height: 60px;
    margin-bottom: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}

.social-media h5 {
    width: 470px;
    height: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    margin-bottom: 18px;
}


.social-media__icons {
    width: 670px;
    height: 70px;
    padding-left: 49.84px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .social-media{
        height: 105px;
    }
    .social-media h4
    {
        width: 402px;
        height: 45px;
        line-height: 45px;
        margin: 2px 38.14px 16px 13px;
        font-size: 18px;
    }
    .social-media h5
    {
        width: 402px;
        height: 32px;
        font-size: 14px;
        margin: 0 38.14px 16px 13px;
    }
    .social-media__icons 
    {
        width: 568px;
        padding: 0;
    }
    .social-media__icons img
    {
        width: 64px;
        height: 64px;
    }
}