@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap');

* {
  font-family: "Roboto",sans-serif;
  margin: 0;
  padding: 0;
}

.open-tab {
  width: 1170px;
  height: 501px;
  border: 1px solid #C6CBCD;
  box-sizing: border-box;
  border-top: none;
}

.tabs-container {
  padding: 0 170px;
  display: table-cell;
  vertical-align: middle;
  height: 639px;
  
}

.open-tab,
.tab_picture {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}

.tab__title title {

  width: 570px;
  height: 124px;
  margin: 1px 30px 27px 100px;
  
}


.tab__button {
  margin: 1px 330px 54px 100px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  width: 270px;
  height: 58px;
  background: #EC7979;
  border: none;
 

}

.tab__text {
  margin: 1px 30px 27px 100px;
  width: 570px;
  height: 210px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;

  color: #000;
  
}

.open-tab .title {
  height: 124px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 124px;
 text-align: center;

  color: #000;
}

.tabs__tab {

  text-align: center;
  width: 203px;
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #333333;
  margin-right: -5px;
}

.tabs__tab.tab{
  border: 1px solid #C6CBCD;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}



.tabs .line {
  width: 967px;
  background-color: #C6CBCD;
  margin-left: 203px;
  height: 0px;
  border-top: 1px solid #C6CBCD;
}

