@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.tabs-subcontainer {

  margin: 0 auto;
}
.open-tab {
  width: 1170px;
  height: 501px;
  border: 1px solid #C6CBCD;
  border-top: none;
border-right: none;
}

.tabs-container {

  font-family: "Open Sans", sans-serif;
  padding: 0 170px;
  margin: 0 auto;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  height: 100vh;
  width: 100%;
 padding-top: 99px;
  

}

.open-tab,
.tab-picture-container {
  width: 50%;
  display: table-cell;
  vertical-align: middle;

}
.tab-picture-container
{
  border:1px solid #C6CBCD ;
  border-left: none;
}
.tabs-container .open-tab__title title {

  width: 570px;
  height: 124px;
  margin: 1px 30px 27px 100px;

}


.tabs-container .open-tab__button {
  margin: 1px 330px 54px 100px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #FFF;
  width: 270px;
  height: 58px;
  background: #EC7979;
  border: none;


}

.tabs-container .open-tab__text {
  margin: 1px 30px 27px 100px;
  width: 570px;
  height: 210px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;


}

.tabs-container .open-tab .title {
  height: 124px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 124px;
  text-align: center;

}

.tabs-container .tabs-subcontainer__tab {

  text-align: center;
  width: 203px;
  height: 40px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #333333;
  margin-right: -5px;
  margin-bottom: -2px;
}

.tabs-container .tabs-subcontainer__tab.tab {
  border: 1px solid #C6CBCD;
  border-bottom: none;
  border-radius: 5px 5px 0 0;

}


.tabs-container .tabs-subcontainer__line {
  width: 967px;
  background-color: #C6CBCD;
  margin-left: 203px;
  border-top: 1px solid #C6CBCD;
}

@media screen and (max-width:1024px) and (min-width:768px) {
  .open-tab{
      width: 992px;
      height: 386px;
  }
  .tabs-container .open-tab__title.title
  {
    width:482.89px ;
    height: 89px;
    line-height: 89px;
    margin:0 26.21px 38px 84.68px ;
    font-size: 24px;
  }
}
